.Polaris-Subheading {
  font-size: 18px;
  color: rgb(88, 88, 88);
}
.Polaris-Heading {
  font-size: 24px;
  width: 80%;
}

.Polaris-Header-Title {
  font-size: 32px;
  padding-bottom: 20px;
}

.Polaris-Page {
  padding: 6rem;
}

.Polaris-Card {
  padding: 1rem;
}

.Polaris-Caption {
  font-size: 2rem;
  width: 80%;
  line-height: 4rem;
  color: gray;
}

.Polaris-ButtonGroup {
  float: right;
  margin-bottom: 1.5rem;
}

.accent {
  color: #da4242;
}
